html {
  overflow: hidden;
}

body {
  background-color: #0083B0;
  background-image: url(fallback-gradient.svg);
  background-image: -webkit-gradient(linear, left top, right top, from(#0083B0), to(#00B4DB));
  background: #00B4DB;
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
  background: linear-gradient(to right, #0083B0, #00B4DB);
  overflow: hidden;
  position: relative;
}

.guillem-info {
  display: none;
  height: 100%;
}

.image-bg {
  height: 100%;
  background: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
}

.loading {
  display: block;
  position: relative;
  top: 20%;
  margin: auto;
  z-index: 120;
  height: inherit;
}

.presentation {
  color: white;
  z-index: 120;
  font-weight: 500 !important;
  text-align: center;
  font-size: 2.5em !important;
}

a i {
  color: white;
  -webkit-transition: color 1s;
  z-index: 120 !important;
  transition: color 1s;
  padding-left: .2em;
  padding-right: .2em;
}

.fa-github-alt:hover {
  color: #333;
}

.fa-instagram:hover {
  color: #e1306c;
}

.fa-linkedin:hover {
  color: #0077b5;
}

.fa-envelope:hover {
  color: #dd4b39;
}

.network-links {
  padding: 0.5em;
  font-size: 3em;
}

.network-links ul {
  text-align: center;
}

.info {
  z-index: 120;
}

@media (max-width: 800px) {
  .info {
    position: absolute !important;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  a i {
    padding-left: .1em;
    padding-right: .1em;
  }
}

.guillem-info-wrapper {
  height: inherit;
}