<div class="letter p-4">

  <div class="container text-white text-center">

    <h3 class="p-4 mt-4"><b>Hi! I am Guillem. Nice to meet you.</b> 🤗</h3>
    <b>
      <p style="width: 60%;" class="mx-auto mt-4 pt-4 mb-4 pb-4">
      I am a Data Scientist and Machine Learning engineer with a computer science 
      background, able to design, implement and serve intelligent solutions. 
      I am specialized in deep learning techniques, more precisely in 
      computer vision (CV) and natural language processing (NLP). <br>
  
      Since the current status of the machine learning requires it, 
      I always use Python along other ML frameworks to solve and build solutions. 
      I also enjoy working with new technologies that look promising.
  
    </p>
  </b>
  </div>
</div>