<mdb-card class="m-1">
  <mdb-card-body>
    <mdb-card-title>
      <div class="skill-head mb-2">
        <img class="p-1 mr-2 d-inline" src="assets/images/skills/{{skill.img}}" height="50">
        <h4 class="card-title d-inline">{{skill?.name}}</h4>
      </div>
    </mdb-card-title>
    <div class="progress">
      <div class="progress-bar" role="progressbar" [ngStyle]="{'width.%': skill?.level * 10}"
        aria-valuenow="{{skill?.level * 10}}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p class="extra-info text-right text-muted mt-1">{{skill.level}} / 10</p>
  </mdb-card-body>
</mdb-card>