.progress-bar {
    background: linear-gradient(45deg, #80cbc4  0%, #3aa197  100%) !important;
}

.extra-info {
    padding-bottom: 0;
    margin-bottom: 0;
}

.card-body {
    padding: 1rem;
}

.skill-head h4 {
    vertical-align: middle;
}