<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark teal" mdbStickyHeader>
  <mdb-navbar-brand><a class="navbar-brand" href="#">Guillem96</a></mdb-navbar-brand>
  <links>
    <div class="navbar-nav">
      <a class="nav-item nav-link waves-light" href="#" mdbWavesEffect>Technologies</a>
      <a class="nav-item nav-link waves-light" href="#" mdbWavesEffect>Projects</a>
      <a class="nav-item nav-link waves-light" href="#" mdbWavesEffect>Skills</a>
      <a class="nav-item nav-link waves-light" href="#" mdbWavesEffect>Contact</a>
    </div>
  </links>
</mdb-navbar>