.project-footer {
    text-align: right;
}

.card {
    height: 13rem;
}

.card-body {
    padding: 1rem;
    padding-bottom: 0;
    height: 100%;
}

.project-footer {
    height: fit-content;
}

a {
    color: teal;
}

a:hover {
    color: rgb(0, 197, 197);
}