<div class="network-links p-4" id="contact">
  <div class="container">

    <h3 class="text-center p-4 mt-4"><b>Contact Me</b></h3>
  
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="https://github.com/Guillem96">
          <i class="fab fa-github-alt"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/in/guillem96/">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://stackoverflow.com/users/7946792/guillem">
          <i class="fab fa-stack-overflow"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="mailto:guillem.orellana@gmail.com">
          <i class="fas fa-envelope"></i>
        </a>
      </li>
    </ul>
  </div>
</div>