h3 {
    font-weight: bolder;
}

.projects-list {

}

.projects-list > .row {
    overflow-x: auto;
    // white-space: nowrap;
}

.projects-list > .row > .col-4 {
    display: inline-block;
    float: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #d6d6d6 ;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #80cbc4 ;
    border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5f948f;
}