h3 {
    font-weight: bolder;
}

.projects {
    background: rgb(0,191,165);
    background: linear-gradient(0deg, #80cbc4  0%, #3aa197  100%);
}

.projects-list > .row {
    overflow-x: auto;
    overflow-y: hidden;
}

.projects-list > .row > .proj {
    display: inline-block;
    float: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #d6d6d6 ;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #d3f0ed ;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #73b6af;
}

.btn-wrapper a {
    padding: 1em;
    border: white solid;
    border-radius: 2rem;
    color: white;
    font-size: 1.2em;
    font-weight: bolder;
}

.btn-wrapper a:hover {
    -webkit-box-shadow: 5px 5px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 10px -1px rgba(0,0,0,0.75);
}