h2 {
    font-weight: 300;
    font-size: 1.5em;
    padding-top: 2em;
}

.presentation {
    background-image: url(/assets/images/footer-lines.svg);
    background-size: contain;
    background-position: bottom;
    margin-top: 2em;
    padding-bottom: 5em;
}